.App {
  text-align: center;
}

#Entry-form {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed white;
  border-radius: 5px 5px;
  
  
}


#Entry-form div{

display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;


}
#Entry-form div span {
  flex-grow: inherit;
  flex-shrink: initial;

  width: 10vw;
  margin-left: 0px;
  margin: 10px;
  font-size: x-large;
  text-align: left;
  
  

}

#Entry-form div input {
  flex-grow: inherit;
  flex-shrink: initial;
  height: 8vmin;
  width: 30vw;
  margin: 20px;
  border: 2px solid white;
  border-radius: 5px 5px;
  font-size: large;
}

#Entry-form #Submit-button {
  min-width: 20vw;
  min-height: 5vh;
  background-color: #61dafb;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
